
<div class="container">

    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/nba">NBA</a>
    <p>Welcome to {{title}}</p>
    <input type="text" id="nbaSearch" name="nbaSearch">
    <button type="submit" id="nbaSubmit" onclick="getName()" value="Search">Search</button>

</div>

 <script src="/javascripts/nba.js"></script>